body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-family: "Segoe UI Webfont", "Segoe UI", Segoe, "Segoe WP", "Lucida Grande", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

a {
    color: rgb(50, 20, 90);
}

a:hover {
    color: rgb(92, 45, 145);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

    h2 > small {
            font-weight: 300;
    }

.jumbotron {
    background-image: url("../images/building-banner-xl.jpg");
    background-position: center center;
    margin-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(50, 20, 90);
    border-color: rgb(50, 20, 90);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(92, 45, 145);
    border-color: rgb(92, 45, 145);
}



#header-text-1 {
    color: white;
    padding: 20px;
    background-color: rgb(50, 20, 90);
}

#header-text-2 {
    color: white;
    padding: 20px;
    background-color: rgb(92, 45, 145);
}

.darkpurple {
    color: rgb(50, 20, 90);
}

.lightpurple {
    color: rgb(92, 45, 145);
}

.magenta {
    color: rgb(180, 0, 158);
}

.darkpurplebackground {
    background-color: rgb(50, 20, 90);
}

.lightpurplebackground {
    background-color: rgb(92, 45, 145);
}



label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 300;
}

.profile-box {
    max-width: 262px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    height: 100%;
    border:solid;
    border-width: 5px;
}

.profile-box-lightpurple {
    border-color: rgb(92, 45, 145);
}

.profile-box-magenta {
    border-color: rgb(180, 0, 158);
}

    .profile-box:hover {
        cursor:pointer;
    }


.profile-box img {
    max-width:262px; 
    max-height:262px;
    filter: grayscale(10) saturate(2);
    -webkit-filter: grayscale(10) saturate(2);
}

.profile-box-header {
    padding: 8px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.profile-box-lightpurple-header:hover {
    background: rgba(92, 45, 145,0.9);
}

.profile-box-magenta-header:hover {
    background: rgba(180, 0, 158,0.9);
}

.modal-body img {
    max-width:150px; float:left; margin-right:10px; margin-bottom: 10px;
}



